.popup-message
  -# .message
  -#   グループを作成しました
.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
          -# ここに今いるグループの名前を表示させなければならない。
        %ul.left-header__members
          Member：
          %li.member
            -@group.group_users.each do |group_user|
              =group_user.user.name
              -# アソシエーション使う
      .right-header
        .right-header__button
          =link_to edit_group_path(@group.id) do
            Edit
    .messages
      = render @messages
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       メンバー
      -#     .upper-message__date
      -#       2017/04/04
      -#   .lower-meesage
      -#     .lower-message__content
      -#       メッセージ
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       メンバー
      -#     .upper-message__date
      -#       2017/04/04
      -#   .lower-meesage
      -#     .lower-message__content
      -#       メッセージ
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       メンバー
      -#     .upper-message__date
      -#       2017/04/04
      -#   .lower-meesage
      -#     .lower-message__content
      -#       メッセージ
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'